<h1><%= @title %></h1>

<table style="width:100%">
  <tr>
    <td>Title</td>
    <td>description</td>
    <td>Place</td>
  </tr>
  <tr>
    <%meet_ups.each do |meet_up|%>

    <td><a href="/<%=meet_up.id%>"><%=meet_up.title%></a></td>
    <td><%=meet_up.description%></td>
    <td><%=meet_up.location%></td>
    <td>
      <form action="/<%= meet_up.id%>" method='post'>
        <input type="hidden" name="_method" value="delete">
        <input type='submit' class='button' name="delete" value="delete">
      </form>
    </td>
    <td>
      <form  action="/<%= meet_up.id %>/update">
        <input class='button' type="submit" value="Update">
      </form>
    </td>
  </tr>
  <%end%>
</table>
<div>
  <h3>Add a new Meet Up</h3>
  <form action="/" method="post">
    <label for="title"> Title </label>
    <input type="text" class='button' name="title" required>

    <label for="description">Description </label>
    <input type="text" class='button' name="description" required>

    <label for="location"> Location </label>
    <input type="text" class='button' name="location" placeholder="location" required>

    <input type="submit" class='button' value="Submit New Meet Up">
  </form>
</div>
